ul, h1, h2, h3, p, hr, body, main, header, footer, img, div, span{
	margin:0px;
	padding:0px;
}
body{
	background-color: #f2f2f3;
	font-family: 'Montserrat', sans-serif;
	margin:0px;
}
header{
	background-color: #cacbce;
	text-align: center;
	padding: 30px 0;
}
header img{
	margin: 0px; 
	padding: 0px;
	width: 200px;
	border-radius: 50px;
	border: 2px solid #7182a3;
}
header h1, header h3 {
	padding: 5px 0px;
}
main{
	color:#75788a;
	padding: 20px 30px;
}
h1 {
	padding: 10px 0px 0px 0px;
}
main h2, main h3 {
	padding: 10px 0px;
}
h1 {
	color:#464853;
}
h2 {
	color:#5e606e;
}
h3 {
	color:#75788a;
}

h3 a{
	text-decoration: none;
	color: #75788a;
}
h3 a:hover{
	color: #0c1927;
}
h3 span{
	font-style: italic;
}
ul{
	color:  #75788a;
	padding: 0px 20px;
}
hr{
	border:1px solid #464853;
}
footer{
	text-align: center;
	padding: 0px 0px;
	background-color: #596e79;
}
.section{
	padding-bottom: 25px;
}